html {
  height: 100%;
}
body {
  height: 100%;
  background-image: url(bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 80%;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.content {
  height: 80%;
  margin-top: 25%;
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  line-height: 50px;
  margin-bottom: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-heading {
  border-radius: 5px;
  background-color: hsl(248, 32%, 49%);
  text-align: center;
}

span {
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  height: 100%;
  margin-top: 3%;
  font-family: "Poppins", sans-serif;
}

input {
  padding: 15px;
  margin: 1.5% 5%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: 1px solid hsla(67, 0%, 81%, 1);
  border-radius: 5px;
}

input:hover {
  border: 1px solid gray;
}
#first-name {
  margin-top: 8%;
}

button {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.966);
  width: 90%;
  height: 13%;
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 5px;
  border: none;
  background-color: hsl(154, 59%, 51%);
}

button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  html {
    height: 100%;
  }
  body {
    height: 100vh;
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }
  .container > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
  }
  .content {
    height: 10%;
    margin-top: 20%;
    margin-bottom: 35%;
  }

  h1 {
    font-size: 2.5rem;
  }
  .content-paragraph {
    font-size: 1.3rem;
  }

  .form-heading {
    height: 19%;
  }

  .form-container {
    margin-top: 30%;
    height: 60%;
  }

  button {
    height: 13%;
    margin-bottom: 0;
  }

  .terms-span {
    color: hsl(0, 100%, 74%);
  }

  label {
    margin-top: 5%;
    color: hsla(67, 0%, 81%, 1);
    margin-top: 1%;
    font-size: 0.9rem;
  }
}
